{% extends 'base.html' %}

{% block title %}- Diagnosis{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8 panel panel-default">
            <form action="{% url 'diagnosis_output' %}" method="post" class="form-inline my-2 my-lg-0" >
                {% csrf_token %}
                <textarea placeholder="진단 내용을 입력하세요." name="q" cols="70" rows="10"></textarea>
                <br/><br/><br/>
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">SCAN</button>
            </form>
        </div>
    </div>
{% endblock %}